:root {
    --gold: rgb(110, 104, 52);
    --light-gold: rgb(130, 109, 39);
    --silver: rgb(164, 158, 140);
    --glass: rgba(0, 0, 0, 0.5);
}

body {
    background-image: url("img/pattern.jpg");
    color: var(--silver);
    margin: 0px;
}

.gradient{
    background: linear-gradient(90deg, var(--gold), var(--light-gold));
    color: white;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/*Header*/

header {
    display: flex;
    margin: 20px;
    font-family: 'Fondamento', cursive;
    letter-spacing: 2px;
}

h1 {
    font-size: 2.3vw;
}

#subtitle {
    font-size: 2.3vw;
}

#logo {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

#title {
    margin-left: 100px;
}

/*Navigation*/

nav {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    height: 40px;
    margin: 30px auto;
    padding: 10px;
    background-color: var(--glass);
}

.nav-button {
    background: none;
    border: none;
    border-right: 3px dashed var(--silver);
    font-family: 'Courgette', cursive;
    font-size: 1.6vw;
    overflow: hidden;
}

button > a {
    text-decoration: none;
    color: var(--silver);
    transition: 1s;
}

button > a:hover {
    color: var(--gold);
}

#last-button {
    border-right: none;
}

/*Wolf*/

#wolf {
    transform: rotateY(180deg);
    position: absolute;
    right:0;
    top: 70vh;
}

/*Content*/

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 75%;
    background-color: var(--glass);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    margin: 50px auto;
    padding: 25px 40px;
    border-radius: 25px;
    text-align: justify;
}

article {
    border-bottom: 5px dotted var(--gold);
    display: flex;
    flex-direction: column;
}

#thought {
    display: flex;
    justify-content: space-between;
}

#aboutme {
    margin-bottom: 50px;
}

#avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

h2 {
    font-size: 30px;
    color: var(--gold);
}

h3 {
    align-self: center;
    margin-top: 50px;
    font-size: 30px;
    color: var(--gold);
}

h4 {
    font-size: 20px;
    color: var(--gold);
}

p {
    font-size: 16px;
}

.read-more {
    align-self: center;
    margin-bottom: 20px;
    text-decoration: none;
    color: var(--silver);
    transition: 1s;
}

.read-more:hover {
    color: var(--gold);
}

#more {
    align-self: center;
    margin-top: 20px;
    background:fixed;
    border: none;
    font-family: 'Courgette', cursive;
    color: var(--gold);
    font-size: 20px;
}

/*Przeczytaj Bajkę*/

#bajki {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: auto;
    max-width: max-content;
    border-top: 2px solid var(--gold);
}

.cover {
    width: 100%;
    height: 250px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10%;
    border: 2px solid var(--silver);
}

.story {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 300px;
    margin: 40px 10px 0px 10px;
    text-align: center;
    font-family: 'Fondamento', cursive;
    font-size: 20px;
}

#balwan {
    background-image: url("img/balwan.png");
    background-position: center;
    background-size: cover;
}

/*Contact-form*/

#contact {
    margin: 20px auto;
    line-height: 1.2;
    letter-spacing: 1.2;
}

#mailto {
    text-decoration: none;
    color: var(--gold);
    position: relative;
}

/*Moving underline - ::after must have content*/

#mailto:hover::after {
    width: 100%;
}

#mailto::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 0%;
    height: 2px;
    background: linear-gradient(90deg, transparent, var(--gold));
    transition: width 0.5s;
}

.conatct-form {
    display: flex;
    flex-flow: column;
    width: 60vw;
}

.label {
    margin-bottom: 10px;
}

.input {
    margin-bottom: 20px;
    border: 1px solid var(--gold);
    border-radius: 5px;
    padding: 10px;
    background-color: var(--glass);
    color: var(--silver);
}

.input:focus {
    border: 1px solid var(--gold);
    background-color: var(--glass);
}

#send {
    width: 20vw;
    height: 6vh;
    align-self: center;
    position: relative;
    border-radius: 5px;
    font-family: 'Fondamento', cursive;
    font-size: 1.5vw;
    letter-spacing: 1.5;
    background: linear-gradient(135deg, var(--gold), var(--light-gold));
    color: rgb(207, 207, 207);
    transition: 0.5s;
    cursor: pointer;
    outline: none;
    border: none;
}

#send:hover {
    box-shadow: 0 0 10px var(--light-gold);
    border: none;
}

/*Footer*/

footer {
    margin-bottom: 40px;
    text-align: center;
    font-family: 'Courgette', cursive;
    line-height: 1.5;
    color: var(--gold);
}